@media (max-width: 600px) {
    .header-wrapper {
        height: 90px;
        align-items: flex-start;
        
    }
    
    .history-wrapper{
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .card{
        padding: 16px 12px;
        font-size: 15px;
        height: 177px;
    }
    .status.status_size {
        font-size: 16px;
    }
    .card__icon {
        width: 16px;
        height: 16px;
    }
    .card__main-section{
        display: flex;
        flex-direction: column;
    }
    .info {
        border-bottom: 1px solid #F0F2F3;
    }
    .info__item{
        
        display: flex;
        flex-direction: row;
       
        justify-content: space-between;
    }
    .date-calendar{
        padding-top: 8px;
        width: 189px;
        height: 16px;
        flex-direction: row;
    }
     .info__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 8px;
    }
     .info__item.info__item_media-status {
        display: flex;
        flex-direction: column;
    }
    
    .btn--xm--1  {
        width: 28px;
        height: 28px;
    }
    .btn--m--1{
        width: 100%;
        height: 36px;
        margin-bottom: 8px;
       
    }
    .buttonText_media {
        display: none;
    }
    .btn-wrapper {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        margin-left: 8px;
        margin-top: 12px;
    }
    
   .button-icon_side_left {
       margin: 0;
   }

}