.button { 
    
    line-height: 28px;
    outline: none;
    font-size: 13px;
    border-radius: 4px;
    position: relative;
    overflow: visible;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    text-align: center;
    text-decoration: none;
    border-width: 0;
    outline: 0;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
}

.button, 
/*.button:active,*/ 
.button:focus {
    outline: none;
}
.button:disabled {
    background: #F2F2F2;
}
.button:disabled:hover {
    background:  #F2F2F2;   ;
}
.greyButton{
    background-color: #E6E6E6;
    /*line-height: 28px;*/
}
.greyButton:hover {
    background: #DBDBDB;
}

.greyButton:focus {
    border: 2px solid #B3B3B3;
}
.noBodyButton {
    background-image: url('../icons/close.svg');
    margin: 10px;
    background-position: center;
}
.btn--xxs {
    width: 16px;
    height: 16px;
}
.btn--xs {
    width: 80px;
    height: 36px;
}
.btn--xs--2 {
    width: 28px;
    height: 28px;
}
.btn--xs--3 {
    width: 69px;
    height: 36px;
}

.btn--s {
    width: 87px ;
    height: 28px ;
}
.btn--xs--1 {
    width: 81px;
    height: 36px;
}
.btn--xm--1 {
    height: 28px;
    width: 95px;
    line-height: 28px;
}
.btn--xm {
    width: 100px;
    height: 36px;
}
.btn--m {
    width: 123px;
    height: 36px;
}
.btn--m--1 {
    width: 92px;
    height: 28px;
    /*margin-bottom: 20px;*/
}
.yellowButton {
    background:#FFCC00;
}
.yellowButton:hover {
    background:#F2C200;
}
.yellowButton:focus {
    border: 2px solid #B38F00;
}
.btn {
    width: 87px ;
    height: 28px ;
}
.button_position-r {
    margin-right: 8px ;
}
.buttonText {
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    
    /*position: relative;*/
  white-space: nowrap;
}
.button-icon{
    vertical-align: middle;
    display: inline-block;
    
}
.button-icon_side_left {
    /*position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height:11.49px;
    position: relative;
    top: 0;
    left: 0;
    margin-right: 5.51px;
    
         
width: 12px;
height: 12px;

    */
    vertical-align: middle;
    display: inline-block;
    margin-right: 5.51px;



}